
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>Home</title>
    {% include 'tophome.html' %}
    {% include 'Navigation_bar.html' %} <!-- 包含 home.html 模板 -->
</head>
<body>
    <!-- <h1>首页</h1>
    {% if username %}
        <p>歡迎回来，{{ username }}！</p>
    {% else %}
        <p>歡迎訪客</p>
    {% endif %} -->
    <div class="content">
        <div class="image-grid">
            <div class="image-container">
                <a href="/"><img src="{% static 'images/products/1.jpg' %}" alt="Image 1"></a>
            </div>
            <div class="image-container">
                <a href="/"><img src="{% static 'images/products/22.jpg' %}" alt="Image 22"></a>
            </div>
            <div class="image-container">
                <a href="/"><img src="{% static 'images/products/3.jpg' %}" alt="Image 3"></a>
            </div>
            <div class="image-container">
                <a href="/"><img src="{% static 'images/products/4.jpg' %}" alt="Image 4"></a>
            </div>
            <div class="right-image">
                <a href="/"><img src="{% static 'images/products/11.jpg' %}" alt="Image 11"></a>
            </div>
            <div class="button-container">
            <a href="/">中間按鈕</a>
            </div>
        </div>
        <div class="hot-cities">
            <h2>熱門城市</h2>
            <div class="hot-cities-grid">
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">中山區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 1">
                    </a>
                </div>
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">信義區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 2">
                    </a>
                </div>
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">士林區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 3">
                    </a>
                </div>
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">松山區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 4">
                    </a>
                </div>
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">大安區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 5">
                    </a>
                </div>
                <div class="city-image-container">
                    <a href="#">
                        <div class="city-name">天母區</div>
                        <img src="{% static 'images/products/4.jpg' %}" alt="City 6">
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
